.font-open-sans{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}

*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}


.btn{
  /* width:150px;
  height:65px; */
  background-color:#FD6E0A ;
  border-radius:5px;
  color:white;
  padding:18px 35px;
  border:none;
  cursor:pointer;
}

header{
  background-color: #FFF8F3;
  padding-top:50px;

}

nav{
  width:71%;
  max-width: 1140px;
  /* border:1px solid red; */
  margin:0 auto;
  display:flex;
  justify-content: space-between;
  align-items:center;
  margin-left:230px;

}

nav ul{
  list-style-type: none;
  display: flex;
  gap:51px;
  align-items:center;


}
.logo h2{
  font-size:45px;
  font-weight: 900;
  color:#181818;

}


nav ul li a{
  text-decoration:none;
  color:#474747;
  font-size:20px;
  
}

#banner{
  margin:45px 38px 0 230px;
  border:1px solid red;
  display:flex;
  align-items:center;
  gap:163px;
  
}

#banner .banner-content{
  max-width:585px;
}
#banner .banner-content h2{
  font-weight:600 ;
  font-size:45px;
  color:#474747;
  margin-bottom:5px;
}

#banner .banner-content h1{
  font-weight: 900;
  font-size: 85px;
  color:#181818;
  margin-bottom: 20px;;


}

#banner .banner-content p{
  line-height: 30px;
  color:#757575;
  font-size:18px;
  margin-bottom:30px;
}

#banner .banner-content .contact{
  display:flex;
  gap:5px;

}

#banner-img img{
  vertical-align: middle;
  width:584px;
  height:676px;
  margin-right:38px;


}

