.font-open-sans{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}

*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}




.btn{
  /* width:150px;
  height:65px; */
  background-color:#FD6E0A ;
  border-radius:5px;
  color:white;
  padding:18px 35px;
  border:none;
  cursor:pointer;
}

header{
  background-color: #FFF8F3;
  padding-top:50px;
  background-image: url('./images/developer.png'),url('./images/header_bg.png');
  background-position: top 38px  left 23px,bottom 0px right 38px;
  background-repeat: no-repeat,no-repeat;

}

nav{
  width:71%;
  max-width: 1140px;
  /* border:1px solid red; */
  margin:0 auto;
  display:flex;
  justify-content: space-between;
  align-items:center;
  margin-left:230px;

}

nav ul{
  list-style-type: none;
  display: flex;
  gap:51px;
  align-items:center;


}
.logo h2{
  font-size:45px;
  font-weight: 900;
  color:#181818;

}


nav ul li a{
  text-decoration:none;
  color:#474747;
  font-size:20px;
  
}

#banner{
  margin:45px 38px 0 230px;
  /* border:1px solid red; */
  display:flex;
  align-items:center;
  gap:163px;
  
}

#banner .banner-content{
  max-width:585px;
}
#banner .banner-content h2{
  font-weight:600 ;
  font-size:45px;
  color:#474747;
  margin-bottom:5px;
}

#banner .banner-content h1{
  font-weight: 900;
  font-size: 85px;
  color:#181818;
  margin-bottom: 20px;;


}

#banner .banner-content p{
  line-height: 30px;
  color:#757575;
  font-size:18px;
  margin-bottom:30px;
}

#banner .banner-content .contact{
  display:flex;
  gap:5px;

}

#banner-img img{
  vertical-align: middle;
  width:584px;
  height:676px;
  margin-right:38px;


}



/* about section */

#about{
 padding-top:130px;
}

#about .about-container{
  width:71%;
  max-width:1140px;
  margin:0 auto;
  text-align:center;
  background-color: #FFF8F3;
  padding:131px 156px;

}
.section-heading{
  max-width:827px;
  text-align:center;
  margin:0 auto;
}
.section-heading h2{
  font-weight: bold;
  font-size:35px;
  color:#181818;
  text-align:center;
  margin-bottom:30px;

}


.section-heading p{
  font-size:18px;
  line-height: 30px;
  color:#757575;
  margin-bottom:30px;
}

#about .about-info{
  margin:0 22.5px;
  display:flex;
  gap:50px;
  font-size:20px;
  line-height: 30px;
  text-align:center;


}

.info-card p{
  color:#757575;


}

.info-card h4{
  color:#474747;

}


/* skills */

#skills{
  padding-top:130px;

}

#skills .skills-container{
  width:71%;
  max-width:1140px;
  margin:0 auto;

}



.skill-box{
  display:flex;
  gap:24px;
  padding:40px 0 130px 0;

}

.skill-card{
  max-width:267px;
  max-height:377px;
  padding:30px;
  border-radius:5px;
  box-shadow:0 6px 10px 0 #00000056;

}

.skill-card img{
  margin-bottom:30px;

}
.skill-card h3{
  font-weight: bold;
  font-size:20px;
  
}

.skill-card p{
  line-height: 28px;
  color:#757575;
  margin-top:20px;
}


#resume{
  text-align:center;
}
#resume .resume-container{
  width:71%;
  max-width:1140px;
  margin:0 auto;
  display: flex;
  gap:71px;

}

.resume-card{
  margin:30px 0;
}
.section-title{
  font-weight: bold;
  font-size:30px;
  color:#474747;
  margin-bottom:30px;
}

.card-title{
  font-weight: bold;
  font-size:25px;
  color:#474747;
  margin-bottom:10px;

}

.card-info{
  font-weight:600;
  color:#757575;
  margin-bottom:20px;
  font-size:20px;
}

.card-text{
  font-size:16px;
  line-height: 28px;
  color:#757575;
}


/* footer */
footer{
  background-color: #FFF8F3;
  margin-top:130px;
  padding:130px 0px;
}

.contact-container{
  width:71%;
  max-width:1140px;
  margin:0 auto;
  display: flex;
  gap:116px;
  

}

.contact-container .contact-site{
  max-width: 562px;

}

.contact-container .title{
  font-weight:bold;
  font-size:35px;
  color:#181818;
  margin-bottom:20px;


}

.contact-container .cnt-desc{
  line-height:28px;
  font-size:16px;
  color:#474747;
  margin-bottom:30px;


}

.contact-container .logo{
  max-width: 120px;
  max-height:24px;
  display: flex;
  gap:25px;
  align-items: center;

}


input[type="text"],input[type="email"],textarea{
  width:461px;
  padding:18px 31px;
  color:#757575;
  margin-bottom:24px;
  border:none;
}